@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300&display=swap');

body{
 margin: 0;
 padding: 0;
 background-color: black;

}


.main{
   /* background-color:goldenrod;*/
    padding:20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;





}
.container{
    width: 1440px;
    height:800px;

    display: flex;


}

/*Section-1 styling */
.section-1{
    /*background-color: rgb(34, 90, 140);*/
    width: 70%;
    background-image: url("./images/bg-pattern-desktop.svg"),linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

}
.logo{
    /*background-color:pink;*/
    margin-left: 215px;
    margin-top: 50px;
    margin-bottom: 0px;

}

.content{
    /* background-color:yellow;*/
    margin-left: 90px;
    padding: 120px;
}

.p1{
    font-size: 55px;
    font-family: Josefin Sans;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    margin:0px;
    letter-spacing: 10px;


}
.p2, .p3{
 color: black;
 font-size: 55px;
 font-family: Josefin Sans;
 font-weight: 300;
 margin:0px;
 letter-spacing: 10px;
 padding:8px;
}
.p4{
    color: hsl(0, 36%, 70%);
    padding: 9px;
    margin-right: 60px;
    line-height: 2;

}
.form{
    /*background-color: brown;*/
    position: relative;

}
button{
 width: 120px;
 background-image:linear-gradient(135deg, hsl(0,80%,86%), hsl(0, 74%, 74%));
 height: 65px;
 padding:0px;
 border-radius:48px;
 border-color: hsl(0, 36%, 70%);
 position: absolute;
 right:0;
 top:0;
 outline: none;


}
.email-input{
    width: 400px;
    height: 10px;
    border-radius: 48px;
    border-color:hsl(0, 36%, 70%) ;
    font-size: 16px;
    padding: 25px;
    color:hsl(0, 36%, 70%);

    outline: none;

}

/*Section-2 styling */
.section-2{

    background-color: blue;
    width: 45%;
}
.image{

}