/*Reset the default style by browser */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** Page styling Begins **/

/** Setting up the global variable **/
:root{
    --primary-color1: hsl(31, 77%, 52%);
    --primary-color2:hsl(184, 100%, 22%);
    --primary-color3:hsl(179, 100%, 13%);

    --neutral-color-1: hsla(0, 0%, 100%, 0.75);
    --neutral-color-2:hsl(0, 0%, 95%);
}
* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0 auto;
    /* overflow: hidden; */
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Font Family */
  @font-face {
    font-family: "Lexend Deca";
    src: url("https://fonts.google.com/specimen/Lexend+Deca");
    font-weight:400;

    font-family: "Big Shoulders Display";
    src: url("https://fonts.google.com/specimen/Big+Shoulders+Display");
    font-weight: 700;
  }
  /* Main Content*/
.main{
max-width:  900px;
/* min-height: 500px; */

display:flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content:center;
align-items: center;
align-content: center;

}

.sedan-container{
    background-color: var(--primary-color1);
    height: 100%;
    width: 35%;
    padding:50px;
/* border prop */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.car-info{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;

}
.suv-container{
    background-color: var(--primary-color2);
    height: 100%;
    width: 35%;
    padding: 50px;

}
.luxury-container{
    background-color: var(--primary-color3);
    height: 100%;
    width: 35%;
    padding: 50px;

/* border prop */
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}


h1{
    /* margin-left: 50px; */
    font-size: 40px;
    font-stretch: expanded;
    font-style: inherit;
    color: var(--neutral-color-2);
    font-family: 'Big Shoulders Display', 'cursive';

}
p{
    color: var(--neutral-color-1);
    font-size: 15px;

    font-family: 'Lexend Deca', 'sans-serif';
    text-align: left;
    line-height: 1.5;


}
button{

    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
}


/* Footer */
.footer{
    /* align-self: flex-start; */

}

.attribution{
   font-size: 22px;

 }
.attribution a{
    color: hsl(228, 45%, 44%);
}

/** Mobile Design **/

@media only screen and (max-width: 600px) {
   .main{
    flex-direction: column;
    margin:  auto 0;
    padding: 20px;
   }
   .sedan-container{
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;

   }
   .suv-container{
    width: 100%;
   }
   .luxury-container{
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
   }
  }