/** Global Variables **/
:root {
  /** Colors **/
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);

  /** Fonts**/
  --para_font_size: 15px;
  @font-face {
    font-family: "specimen";
    src: url(https://fonts.google.com/specimen/Outfit);
  }
}
body {
  font-family: "specimen";
  margin: 0;
  padding: 0;
  background: var(--Light_gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.main {
  width: 320px;
  height: 497px;
  /* border: 1px solid black; */
  margin-top: 85px;
  margin-bottom: 85px;
  margin-left: 27px;
  margin-right: 28px;

  background: #ffffff;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  border-radius: 20px;


}
.container {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

img {
  width: 288px;
  height: 288px;
  border-radius: 20px;
}

h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;

  /* Dark Navy */

  color: #1f314f;
  padding: 5px;
  margin-bottom: 0;
}

p {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
